* {
    font-family: 'Raleway', sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
    background-image: url('assets/sunset.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: #3C363B;
}

/* MAIN MIDDLE AREA - HOME PAGE */
main, .side-panel, #home-view, article, div, .login, .user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

.user-input {
    background-color: rgba(254, 164, 135, 0.7);
    border-radius: 20px;
    transition: .2s ease;
    padding: 10%;
    margin-top: 35px;
}

.submit {
    border: none;
    color: aliceblue;
    background-color: #3C363B;
    border-radius: 5px;
}

h1 {
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 100%;
}

h2 {
    margin-top: 5px;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin: 10px;
}

article, div {
    margin-top: 10%;
    font-size: 20px;
}

.games {
    background-color: rgba(254, 164, 135, 0.7);
    width: 35%;
    height: fit-content;
    padding: 2%;
    border-radius: 20px;
    transition: .2s ease;
}

.games:hover, .change-game:hover, .submit:hover, .logout:hover {
    cursor: pointer;
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.3);
    background-color: rgba(252, 176, 151, 0.9);
    color: #3C363B;
}

p {
    margin: 5px;
}

#game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SIDE PANELS */
.side-panel {
    width: 15%;
    height: 100vh;
    color: black;
    background-color: rgba(199, 175, 185, 0.8);
}

h4 {
    font-weight: 400;
    font-size: 25px;
    margin: 0;
}

#left-human {
    order: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.change-game, .logout {
    width: 75%;
    height: 5%;
    margin-top: 50px;
    background-color: rgba(254, 164, 135, 0.9);
    color: aliceblue; 
    font-size: 100%;
    border: none;
    border-radius: 5px;
}

#right-computer {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-icons {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.game-log {
    overflow-y: scroll;
    background-color: rgba(60, 54, 59, 0.8);
    color:rgba(251, 235, 213, 0.9);
    margin-bottom: 100px;
    width: 80%;
    height: 250px;
    padding-bottom: 5%;
    border-radius: 5px;
}

.game-log::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(60, 54, 59, 0.8);
    padding-bottom: 5%;
    border-radius: 5px;
}

.game-log::-webkit-scrollbar-thumb {
    background-color:rgba(251, 235, 213, 0.8);
    border-radius: 50px;
}

.game-log::-webkit-scrollbar-thumb:hover {
    background-color:rgba(251, 243, 231, 0.8);
}

.choices-log {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

h5 {
    margin: 10px 5px 0px 5px;
    text-align: center;
}

/* GAMES */
.classic-options-box, .element-options-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: rgba(251, 235, 213, 0.7);
    border-radius: 20px;
    width: 70%;
}

.classic-options-box {
    width: 50%;
}

.win-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgba(251, 235, 213, 0.7);
    width: 360px;
    height: 150px;
    border-radius: 20px;
}

.choice {
    width: 120px;
    height: 120px;
    margin: 5%;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s ease;
}

.show:hover {
    cursor: default;
    transform: none;
}

.players-choices {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.past-choice {
    width: 45px;
    height: 45px;
    margin: 10%;
}

/* HIDDEN */
.hidden {
    display: none !important;
}